body {
    background-image: url("../images/natural_paper/natural_paper.png");
    background-repeat: repeat;
}

h1 {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}


/* Bootstrap overides */

.navbar {
    padding: 0 8rem;
    background-color: #ffffff;
}

/* this does not seem to work */
.navbar .border-bottom {
    border-bottom: 2px solid #dee2e6;
}

.navbar h1 {
    color: #ffffff;
    background-color: #4aaaa5;
    height: 100%;
    padding: 16px;
    margin: 0;
}


@media screen and (max-width: 768px) {

    body {
        margin: 0 8px;    
    }

    .navbar {
        padding: 0 1rem;
    }


}
  

